*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo-main{
    width:100px;
}

.outer-inner-div{
    display: flex;
    justify-content: space-between;
    background-color: #EBEAFF;
}

.inner-links{
    display:flex;
    padding:10px;
}

.inner-logo{
    margin-top:10px;
    margin-left: 20px;
}

.inner-inner-links{
    margin-right: 20px;
}